
/* phần cha mẹ */
html{
  padding: 0;
  margin: 0;
  
}
#container{
  width: auto;
  height: auto;
  font-family: 'Montserrat';
  word-spacing: 3px;
  letter-spacing: 0.5px;
}

/* PHẦN 1 DÍNH */
.header{
  width: 100%;
  height: 80px;
  background-color:rgb(255, 255, 255);
  position: fixed;
  top: 0;
  }
  #logo{
        width: 20%;
        height: 80px;
        float: left;
        }

  #menu{
        width: 80%;
        height: 80px;
        float: right;
        text-align: right;
        }


/* phần 2 MAIN */
.main{
  width: auto;
  background-color: darkgray;
  text-align: center;
  padding-top: 20px;
}

    /* phần trang 1 slide 1*/
.box_1 {
  width: 100%;
  height: 100vh;
  background-color: brown;
  display: inline-block;
  padding-top: 40px;
}
        .mySlides {display:none;}

/* phần trang 2 hình và chữ */
.box_2{
  width: 100%;
  height: 400PX;
  background-color: white;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Montserrat';
  
}
    .hinh{
      width: 40%;
      height: 300px;
      float: left;
      border-radius: 20%;
      padding-top: 40px;
      padding-left: 20px;
      margin-left: 60px;
      box-sizing: border-box;
    }
    .noidung{
      width: 720px;
      height: 350px;
      float: left;
      text-align: left;
      box-sizing: border-box;
      padding-top: 20px;
      margin-left: 5px;
      font-family: 'Montserrat';
      perspective: none;
      color: rgb(90, 90, 90);
      word-spacing: 3px;
      letter-spacing: 0.5px;
      font-size: 15px;
      -moz-column-count: 2;
      -moz-column-gap: 10px;
      -webkit-column-count: 2;
      -webkit-column-gap: 10px;
      column-count: 2;
      column-gap: 40px;
    }
        .button {
          background-image: linear-gradient(to right, rgb(0, 102, 255) , rgb(0, 183, 255));
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0s;
            transition-duration: 0.2s;
            border-radius: 25px;
          }
        /* .button1 {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        } */
        .button2:hover {
          box-shadow: 0 12px 16px 0 rgba(40, 192, 252, 0.247),0 17px 50px 0 rgba(57, 160, 245, 0.377);
        }

/* phần css icon */
/* #thanh_truot{
  width: 300px;
  height: 40px;
  background-color: aqua;
  position: fixed;
  display: block;
  bottom:15px ;
  left: 40%;
  z-index: 2;
  font-family: 'Nunito', sans-serif;
} */

/* PHẦN CARD */
.flip-card {
  background-color:white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}
.flip-card-front {
  width: 300px;
  height: 300px;
  box-sizing:border-box;
  margin: 2%;
  background-color: lawngreen;
  overflow: hidden;
}

.flip-card-front img{
  transition: all 0.5s linear;
}
.flip-card-front:hover img{
  transform: scale(1.1);
}


/* PHẦN INFO */
.info{
  width: 600px;
  background-color: white;
  font-size: 15px;
  text-align: center;
  font-family: 'Montserrat';
  color: rgb(90, 90, 90);
  word-spacing: 3px;
  letter-spacing: 0.5px;
  margin-left: 30%;
  padding-top: 100px;
}



/* PHẦN 3 CUỐI TRANG */
.footer{
  width: 100%;
  height: 100px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  background: #efefef;
  padding-bottom: 60px;
}

.row {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 30px;
  background: #032429;
  @include epic-sides() {background: inherit;}
  text-align: center;
  
  &:first-child {
    padding: 40px 30px;
  }
  &:nth-child(2),
  &:nth-child(8),
  &:nth-child(10){
    background: #134A46;
  }
  &:nth-child(3),
  &:nth-child(7) {
    background: #377D6A;
  }
  &:nth-child(4),
  &:nth-child(6) {
    background: #7AB893;
  }
  &:nth-child(5) {
    background: #B2E3AF;
  }
  
  span {
    position: relative;
    display: inline-block;
    margin: 30px 10px;
  }
}
.basic-slide {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 70px; // Arbitrary.
  transition: all .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #7AB893;
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}
.basic-slide:focus,
.basic-slide:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  
  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: translateX(-100%);
  }
}


/* phần chia HỘP */
/* .flexbox-container {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
} */


